<div class="tab" data-group="primary" data-tab="palace-pressure">

  <div class="content-card">
    <h3 class="card-header"><i class="fas fa-landmark"></i> Palace</h3>
    <div class="editor-wrap">
      {{editor enrichedPalace target='system.palace' engine='prosemirror' button=true editable=editable}}
    </div>
  </div>

  <div class="content-card">
    <h3 class="card-header"><i class="fas fa-weight-hanging"></i> Pressure</h3>
    <div class="editor-wrap">
      {{editor enrichedPressure target='system.pressure' engine='prosemirror' button=true editable=editable}}
    </div>
  </div>

</div>
